 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 5px;
 }

 .container {
     max-width: 400px;
     margin: auto;
     padding: 5px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 h1 {
     text-align: center;
     font-size: 1.5em;
     margin-bottom: 20px;
 }

 .form-section {
     margin-bottom: 20px;
 }

 .form-group {
     margin-bottom: 15px;
 }

 label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;

 }

 select,
 input[type="number"] {
     width: 40%;
     padding: 8px;
     border: 1px solid #ccc;
     border-radius: 4px;
     font-size: 1.1em;
 }

 .price-inputs {
     display: flex;
     gap: 5px;
     text-align: center;
 }

 .price-inputs .form-group {
     flex: 1;
     margin-top: -20px;
     margin-bottom: -10px;
 }

 .button-groups {
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
     flex-wrap: wrap;
 }

 .schedule-buttons,
 .material-toggle {
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     padding: 10px 15px;
 }

 button {
     padding: 5px 7px;
     border: none;
     border-radius: 4px;
     background: #ddd;
     cursor: pointer;
     font-size: 1em;

 }

 button.active {
     background: #007bff;
     color: white;
 }

 button:hover:not(.active) {
     background: #ccc;
 }

 .results {
     margin-top: 20px;
     font-size: 1.1em;
 }

 .results div {
     margin-bottom: 10px;
 }

 .footer {
     text-align: center;
     margin-top: 10px;
     margin-bottom: 20px;
     font-size: 0.9em;
 }

 .footer a {
     color: #007bff;
     text-decoration: none;
 }

 .size-length-inputs {
     display: flex;
     gap: 15px;
 }

 .size-length-inputs .form-group {
     flex: 1;
     min-width: 120px;
 }

 .size-length-inputs select,
 .size-length-inputs input {
     width: 100%;
     box-sizing: border-box;
 }

 #size {
     height: 40px;
     /* デフォルトより少し大きめ */
     padding: 6px 8px;
     /* 内側の余白も調整可能 */
     font-size: 1.1em;
     /* 文字の大きさも調整すると見栄えよく */
     box-sizing: border-box;
     /* 高さにpaddingも含める */

 }

 iframe {
     width: 100%;
     height: 400px;
     border: 1px solid #ccc;
 }

 #totalDisplay {
     margin-top: 20px;
     font-size: 20px;
     font-weight: bold;
 }