/* 共通スタイル */
.shortcut {
    display: none;
    margin: 5px 0;
  }
  
  .active {
    display: block;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  /* カテゴリごとのスタイル */
  .table {
    background-color: #f0f8ff; /* 青色 */
  }
  
  .edit {
    background-color: #ffebcd; /* ベージュ色 */
  }
  
  .image {
    background-color: #e0ffff; /* 水色 */
  }
  
  .save {
    background-color: #fffacd; /* 薄い黄色 */
  }
  
  .search {
    background-color: #f5f5f5; /* 薄い灰色 */
  }
  
  /* ボタンのスタイル */
  button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
  